@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;

/* Custom Utilities */
.btn {
  transition-property: all;
  transition-duration: 200ms;
}

.card {
  backdrop-filter: blur(8px);
  background-color: rgb(31 41 55 / 0.3);
}
